@use "./global/variables";

header{
    background-image: url(../../../assets/background.img2.avif);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

// .header{
//     padding: 70px;
// }