@use './global/variables';

.navBar{
    padding: 1px;
    
    ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }

    a{
        margin: -30px;
    }

}