@use "./global/variables";

// about section  /projects

.aboutImgContainer{
    img{
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
}

.about, .projects{
    background: variables.$paleWhite;
}

// skills  /footer

.skills, footer{
    background: variables.$primary;
}

footer{
    padding: 1px;
}

// contact

.contact{
    background: variables.$tertiary;
}