@use "./global/variables";

// about section  /projects

.aboutImgContainer{
    img{
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
}

.about, .projects{
    background: variables.$paleWhite;
}

// projects

.projectsFlex{
    display: flex;
    justify-content: space-between;
    text-align: initial;
    
}

.project{
    background: white;
    width: 50%;
    margin: 0 30px;
}

.projectImage{
    img{
        width: 100%;
        height: 200px;
    }
}

.projectInfo{
    padding: 10px;
}

// skills  / footer

.skills, footer{
    background: variables.$primary;
}

.skillsFonts{
    font-size: 70px;
    color: variables.$paleWhite;

         i{
            padding: 0 10px;
        }
}

footer{
    padding: 1px;
}

// contact

.contact{
    background: variables.$tertiary;
}

.contactFont{
    font-size: 30px;
    
    i{
        margin: 0 30px;
    }
}