@use "./variables";

body{
    overflow-x: hidden;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
    text-align: center;
    padding: 70px;
    
}

img{
    max-width: 100%;
    display: block;
}


.button, .link{
    background-color: variables.$secondary;
    font-size: 0.9rem;
    width: 170px;
    padding: 13px 0;
    font-family:'Roboto', sans-serif ;
    margin: 0 auto;
    border-radius: 10px;
}

.link{
    width: 90%;
    text-align: center;
}

.button a, .link a{
    color: black;
}