@use "./variables";

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
    text-align: center;
    padding: 70px;
    
}

img{
    max-width: 100%;
    display: block;
}

button{
    background-color: variables.$secondary;
    padding: 10px 40px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}