@media (max-width:1021px){
    .projectInfo button{
        padding: 10px 35px;
    }
}

@media (max-width: 977px){
    .projectInfo button{
        padding: 10px 30px;
    }
}

@media (max-width:933px){
    .projectInfo button{
        padding: 10px 25px;
    }
}

@media (max-width:885px){
    .projectInfo button{
        padding: 10px 20px;
    }
}

@media (max-width:843px){
    .projectInfo button{
        padding: 10px 150px;
    }
}

@media (max-width:799px){
    .projectInfo button{
        padding: 10px;
    }
}