
@media (max-width:800px){
    .icon{
        padding: 0 10px;
    }
}


// @media (max-width:783px){
//     .skillsFonts{
//         font-size: 60px;
//     }
// }

@media (max-width:750px){
    .projectsFlex{
        flex-wrap: wrap;
    }

    .project{
        width: 100%;
        margin: 20px 30px ;
    }
}

@media (max-width:743px){
    .skillsFonts{
        font-size: 60px;
    }
}

@media (max-width:697px){
    .skillsFonts{
        font-size: 50px;
    }
}

@media (max-width:647px){
    .icon{
        padding: 0 5px;
    }
}

@media (max-width:585px){
    .skillsFonts{
        font-size: 45px;
    }
}

@media (max-width:569px){
    .skillsFonts{
        font-size: 40px;
    }
}

@media (max-width:547px){
    h1, h2{
        font-size: 2.5rem;
    }
    .skills p, p {
        font-size: 0.9rem;
    }
}


@media (max-width:550px){
    .project{
      margin: 20px 5px;
    }
  }

  @media (max-width:517px){
    .skillsFonts{
        flex-wrap: wrap;
    }
}

@media (max-width: 484px){
    .contactFont{
        font-size: 25px;
    }
}

@media (max-width: 464px) {
    .contactFont {
      font-size: 20px;
    }
  }

@media (max-width: 439px) {
    .navBar a{
        font-size: 0.8rem;
        padding: 10px;
    }

    .skillsFonts{
        font-size: 70px;
        display: inline-block;
    }
}

@media (max-width: 434px){
    .project{
        margin: 20px 0;
    }
}