@use "./variables";

html{
    font-size: 125%;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

ul a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

p{
    font-family: 'Lora', serif ;
}

h1, header p, h3, ul a, footer p{
    color: variables.$paleWhite;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

h5{
    font-family: 'Roboto', sans-serif;
    color: variables.$primary;
}